<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Kurzbeschreibung:</strong>
  <%= @character.kurzbeschreibung %>
</p>

<h2>Stats</h2>
<%= render @character.stats %>

<h2>Add Stats</h2>
<%= render 'stats/form' %>


<%= link_to 'Edit', edit_character_path(@character)%>
<%= link_to 'Back', characters_path %>